.mbrace-bg-1 {
  min-height: 50vh;
  background-image: url('./assets/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  background-attachment: fixed;
}